@standardResumeMargin: 10px;

#resumeContainer{
    font-family: 'Roboto', sans-serif;
}

#resumeTitle {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 100;
}

.mainContainer{
    display: block;
    max-width: 900px;
    margin: 0 auto;
}

.resumeDetailBlock{
    margin: @standardResumeMargin 0px @standardResumeMargin 0px;
}

.resumePersonalDetails h3 {
    margin: 1px;
    font-size: 18px;
    font-weight: 100;
}

.resumeJobBlock h4{
    font-family: 'Raleway',sans-serif;
    margin: 0px;
}