@import (reference) "../../constants/globals.less";

@desktop: ~"only screen and (min-width: 960px)";
@tablet: ~"only screen and (min-width: 720px) and (max-width: 959px)";
@phone: ~"only screen and (min-width: 200px) and (max-width: 480px)";


#resumeContainer {
    font-family: 'Roboto', sans-serif;
}

.oneHundredPercentViewWidth {
    width: 100vw;
}

#resumeTitle h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100 !important;
    margin: 0;

    @media @desktop {
        font-size: 4em !important;
    }
}

.resumePersonalDetails h3 {
    margin: 1px;
    font-size: 18px;
    font-weight: 100;
}

.resumePersonalDetails h3.marginLeft20px {
    .marginLeftpx(20px)
}

.resumePersonalDetails h3.marginLeft32px {
    .marginLeftpx(32px)
}


.resumePersonalDetails h3.nameTitle {
    margin-bottom: 10px;
}

.inline {
    display: inline;
}

.sectionTitle {
    margin: 10px 0 10px 0;
    text-decoration: underline;
}

.flex {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-end;
}

.mainContainer {
    display: block;
    max-width: 1100px;
    margin: 0 auto;
}

.rightContent {
    display: block;
    max-width: 900px;

    @media @desktop {
        align-self: flex-end;
    }

    @media @phone {
        align-self: auto;
    }
}

.leftContent {
    display: block;
    width: 200px;
    align-self: flex-start;
}

.resumeSectionBlock {

    h3,
    h4,
    h5 {
        margin: 0;
    }
}

.resumeDetailBlock {
    margin: @standardResumeMargin 0px @standardResumeMargin 0px;
}

.resumeJobBlock {

    h4 {
        margin: 0px;
    }

    h4:nth-child(1).ralewayTitle {
        font-family: 'Raleway', sans-serif;
    }
}

.jobDescription {
    font-weight: 800;
}

.resumeJobImage{
    max-width: 100px;
    margin: 0 auto 0 auto;
}

.inline{
    display: inline-block;
}